<p>Ejercicio -> 05 Angular </p>

<form [formGroup]="contactForm">
    <p>
      <label for="carnetCond" formControlName="carnetCond" ngDefaultControl> carnet:</label>
      <input type="radio" value="no" id="no" name="carnetCond" formControlName="carnetCond" checked /> no
      <input type="radio" value="si" id="si" name="carnetCond" formControlName="carnetCond" /> si
    </p>
    <div *ngIf="this.contactForm.get('carnetCond')?.value=='si'">
      <p>
        dni: <input type="text" id="dni" name="dni" formControlName="dni" />
      </p>
      <p>
        fecha: <input type="date" id="fecha" name="fecha" formControlName="fecha" />
      </p>
    
        <ul *ngFor="let pais of paises">
            <li>{{pais}}</li>
        
        </ul>
        
      
    </div>
  </form>